
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
ol, ul {
  list-style: none; }
.lf{
  float: left;
}
.rt{
  float: right;
}
.inlineB{
  display: inline-block;
}
.clearfix:after{
  content: '';
  display: table;
  clear: both;
}
.h100{
  height: 100%;
}
.w100{
  width: 100%;
}
.relative{
  position: relative;
}
.flexScss{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  .c{
    flex-direction: column;
  }
}
.flex-box{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex{
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
}
.my-table{
  border-collapse: collapse;
  color: inherit;
  table-layout: fixed;
  width: 100%;
  border: 1px solid #ddd;
  border-bottom: none;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  &.border{
    th:not(:last-child),td:not(:last-child){
      border-right: 1px solid #ddd;
    }
  }
  th,td{
    border-bottom: 1px solid #ddd;
    height: 38px;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
}
.absolute{
  position: absolute;
}
.ellipsis{
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.hide{
  display: none;
}

